# Exercises

To get started with the exercises, go ahead and take a look at RideShareDB. This database was created with data from a dataset on [Kaggle](https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city). The dataset was made using data obtained from the NYC Taxi and Limosine Commission or TLC. TLC tracks this data by base and even rideshare companies such as Uber and Lyft have assigned bases that each pickup must be attributed to. For the exercises, we will be using the `other-FHV-services-jan-july15` and `lyft` tables in RideShareDB.Â These tables include the data for each pickup attributed to a few other For-Hire Vehicles (FHV) services and Lyft. These tables do not include any data from Uber.

## String Functions

Write a query that returns the last 3 characters of the base name in `other-FHV-services-jan-july15`. Do you see anything that is a common abbreviation at the end of business names?

In [4]:

# import pandas as pd
SELECT DISTINCT RIGHT(Base_Name, 3) AS [Last 3],
COUNT(RIGHT(Base_Name, 3)) AS [Last 3 Count]
FROM [other_FHV_services_jan_aug_2015]
GROUP BY RIGHT(Base_Name, 3) 
ORDER BY [Last 3 Count] DESC;

#common abbreviations are NC. and INC and LLC and RP.  and ORP

SyntaxError: invalid syntax (2964305152.py, line 5)

The number of trips and the number of pickups are both stored as strings in `other-FHV-services-jan-july15`. This is because the data provided included spaces in some of the numbers. Write a query that returns the location of spaces in both of these columns.

## Date Functions

For ``other-FHV-services-jan-july15``, display the name of month of the pickup date and order in descending order. Is the result of this query what you expected?

In [ ]:
SELECT DATENAME(month, Pick_Up_Date) AS MONTH, 
Pick_Up_Date
FROM [other_FHV_services_jan_aug_2015]
ORDER BY Pick_Up_Date DESC;

Using `other-FHV-services-jan-july15`, write a query that returns the day number of the pickup date and month name and orders it in ascending order by day number.

In [1]:
SELECT DATENAME(month, Pick_Up_Date) + ' ' + DATENAME(day, Pick_Up_Date) AS [MONTH/DAY], 
Pick_Up_Date
FROM [other_FHV_services_jan_aug_2015]
ORDER BY Pick_Up_Date DESC;


## another way to do this is:

# SELECT CONCAT (DATENAME(month, Pick_Up_Date), ' ', DATENAME(day, Pick_Up_Date)) AS [MONTH/DAY],
# Pick_Up_Date
# FROM [other_FHV_services_jan_aug_2015]
# ORDER BY Pick_Up_Date DESC;

SyntaxError: invalid syntax (255626373.py, line 1)

## Aggregate Functions

Write a query that returns the most easterly Lyft pickup.

In [ ]:
SELECT TOP 1 * FROM [lyft] WHERE [start_lng] is not null
ORDER BY start_lng

# The most negative value for longitude is the most eastern. trip timed at 2014-08-14 02:23:00.0000000 is the most eastern

Write a query the returns the most northerly Lyft pickup.

In [ ]:
SELECT TOP 1 * FROM [lyft] WHERE [start_lat] is not null
ORDER BY start_lng DESC;

#The most positive value latitude is the most northern, triped timed at 2014-08-13 23:25:00.0000000 is the most northern.

Using ``other-FHV-services-jan-july15``, write a query that connects the the base number and the base name in a string that uses the following format: base\_number: base\_name.

In [ ]:

SELECT CONCAT(Base_Number, ': ', Base_Name) AS [Base Number and Name] FROM [other_FHV_services_jan_aug_2015]